# {{ ansible_managed }}

127.0.0.1   {{ hosts_hostname.hostname }}.{{ hosts_hostname.domain }} {{ hosts_hostname.hostname }} localhost localhost.localdomain localhost4 localhost4.localdomain4 {% if hosts_hostname.alias is defined %}{% for alias in hosts_hostname.alias %}{{ alias }} {% endfor %}{% endif %}

::1   {{ hosts_hostname.hostname }}.{{ hosts_hostname.domain }} {{ hosts_hostname.hostname }} localhost localhost.localdomain localhost6 localhost6.localdomain6 {% if hosts_hostname.alias is defined %}{% for alias in hosts_hostname.alias %}{{ alias }} {% endfor %}{% endif %}

{% if hosts_hostname.add_ip is defined %}
{% for ip in hosts_hostname.add_ip %}
{{ ip }}   {{ hosts_hostname.hostname }}.{{ hosts_hostname.domain }} {{ hosts_hostname.hostname }} localhost localhost.localdomain {% if hosts_hostname.alias is defined %}{% for alias in hosts_hostname.alias %}{{ alias }} {% endfor %}{% endif %}

{% endfor %}
{% endif %}
{% if hosts_host is defined %}
{% for host in hosts_host %}
{% if host.comment is defined %}
# {{ host.comment }}
{% endif %}
{{ host.ip_addr }} {{ host.hostname }}.{{ host.domain }} {{ host.hostname }} {% if host.alias is defined %}{% for alias in host.alias %}{{ alias }} {% endfor %}{% endif %}

{% endfor %}
{% endif %}
